  <ul id="list1" class="sortable-list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>

  <ul id="list2" class="sortable-list">
    <li>Item 4</li>
    <li>Item 5</li>
    <li>Item 6</li>
  </ul>