<div class="container score-page">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <p><b>Single Player</b></p>
                <p>Login and select a genre on the home page  to start playing. The site will present you with a question with 8 options selected from your chosen genre.
                 Drag and drop the options to rank them from the most popular at the top to the least popular at the bottom.
                </p>

                <p><b>Score</b></p>
                <p>You score 10 points for each answer that is correctly matched with the ranked answer for a maximum of 80.</p>

                <p><b>High Score</b></p>
                <p>All the users high scores are also available to view and compare.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p><b>Multi player</b></p>
            </div>
        </div>
    </div>
</div>  