<div class="container score-page">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <p><b>Single Player</b></p>
                <p>Login and select a genre on the home page  to start playing. The site will present you with a question with 8 options selected from your chosen genre.
                 Drag and drop the options to rank them from the most popular at the top to the least popular at the bottom.
                </p>

                <p><b>Score</b></p>
                <p>You score 10 points for each answer that is correctly matched with the ranked answer for a maximum of 80.</p>

                <p><b>High Score</b></p>
                <p>All the users high scores are also available to view and compare.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p><b>Multiplayer</b></p>
                <p>Login, create a room or join a room to play with friends. Creating a room will genereate a room code specific to your room. Give your friends the room code so they can join your room. Play with four or up to as many as twenty of your friends. Drag and drop their usernames to their desired team, and when everyone's ready click the start button to start playing. Multiplayer works a bit differently than single player, Instead of a submit button you'll have a timer so work quickly or you just might lose.</p>
                
                <p><b>Score</b></p>
                <p>Multiplayer works the same as single player when it comes to how you get points. The only difference is your individual scores are added up and averaged with the rest of your team, and the team who gets the better averaged score wins.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <p><b>Score Page</b></p>
                <p>On the score page users can see their score at the top. It also gives the user an option to play again. It also shows the question the user attempted and its answers ranked by popularity. It also displays all the users and their high scores.</p>
                
            </div>
        </div>
    </div>
</div>  