<h1 class="align-self-center">Pick a Genre</h1>
<div class="container">
    <div class="row">
        <button id="food" class="col-6">
            Food
        </button>
        <button id="movies" class="col-6">
            Movies
        </button>
        <button id="sports" class="col-6">
            Sports
        </button>
        <button id="music" class="col-6">
            Music
        </button>
        <button id="history" class="col-6">
            History
        </button>
    </div>
    <div class="row">
        <button id="video-games" class="col-6">
            Video Games
        </button>
        <button id="memes" class="col-6">
            Memes
        </button>
        <button id="celebrity-gossip" class="col-6">
            Celebrity Gossip
        </button>
        <button id="superheroes" class="col-6">
            Superheroes
        </button>
        <button id="fantasy" class="col-6">
            Fantasy
        </button>
    </div>
</div>

