<div class="row">
    <div class="card genre">
        <div class="card-content" id="genre-btns">
            <div class="col-12 text-center mt-5">
                <h1 class="align-self-center" id="pick">Pick a Genre</h1>
            </div>
            <a href="/genre/1">
                <button id="food" class="btn btn-danger btn-lg m-3 p-4">
                    Food
                </button>
            </a>
            <a href="/genre/7">
                <button id="movies" class=" btn btn-secondary btn-lg m-3 p-4">
                    Movies
                </button>
            </a>
            <a href="/genre/2">
                <button id="sports" class=" btn btn-primary btn-lg m-3 p-4">
                    Sports
                </button>
            </a>
            <a href="/genre/8">
                <button id="music" class=" btn btn-dark btn-lg m-3 p-4">
                    Music
                </button>
            </a>
            <a href="/genre/4">
                <button id="video-games" class="btn btn-success btn-lg m-3 p-4">
                    Video Games
                </button>
            </a>
            <a href="/genre/3">
                <button id="history" class="btn btn-primary btn-lg m-3 p-4">
                    History
                </button>
            </a>
            <a href="/genre/5">
                <button id="books" class="btn btn-primary btn-lg m-3 p-4">
                    Books
                </button>
            </a>
            <a href="/genre/10">
                <button id="superheroes" class="btn btn-warning btn-lg m-3 p-4">
                    Superheroes
                </button>
            </a>
            <a href="/genre/6">
                <button id="fantasy" class="btn btn-info btn-lg m-3 p-4">
                    Fantasy
                </button>
            </a>
            <a id="meme" href="/genre/9">
                <button id="memes" class=" btn btn-light btn-lg m-3 p-4">
                    Memes
                </button>
            </a>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="card multi-player">
        <div class="card-content">
            <div class="col-12 text-center mt-5">
                <h1 class="align-self-center" id="pick">Multi player mode</h1>
            </div>
            <div id="room1" class="rounded">
                <div class="align-self-center" style="height: 80px;">
                    <button id="multiplayer" class="btn btn-primary">Create a room</button>
                </div>
                <div class="align-self-center" id="room-container">
                    <form class="form room-form d-flex">
                        <div class="form-group mr-2">
                            <label for="room-code" id="room-code-title">Room Code:</label>
                            <input class="form-input" type="text" id="room-code" placeholder="Room Code"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" id="enter-btn" type="submit">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/genre.js"></script>