<div class="col-12 text-center">
    <h1 class="align-self-center">Pick a Genre</h1>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-6">
            <a href="/genre/1">
            <button id="food" class="col-6 btn btn-primary btn-lg">
                Food
            </button>
            </a>
            <a href="/genre/7">
            <button id="movies" class="col-6 btn btn-primary btn-lg">
                Movies
            </button>
            </a>
            <a href="/genre/2">
            <button id="sports" class="col-6 btn btn-primary btn-lg">
                Sports
            </button>
            </a>
            <a href="/genre/8">
            <button id="music" class="col-6 btn btn-primary btn-lg">
                Music
            </button>
            </a>
            <a href="/genre/3">
            <button id="history" class="col-6 btn btn-primary btn-lg">
                History
            </button>
            </a>
        </div>
    
        <div class="col-6">
            <a href="/genre/4">
            <button id="video-games" class="col-6 btn btn-primary btn-lg">
                Video Games
            </button>
            </a>
            <a href="/genre/9">
            <button id="memes" class="col-6 btn btn-primary btn-lg">
                Memes
            </button>
            </a>
            <a href="/genre/5">
            <button id="entertainment" class="col-6 btn btn-primary btn-lg">
                Entertainment
            </button>
            </a>
            <a href="/genre/10">
            <button id="superheroes" class="col-6 btn btn-primary btn-lg">
                Superheroes
            </button>
            </a>
            <a href="/genre/6">
            <button id="fantasy" class="col-6 btn btn-primary btn-lg">
                Fantasy
            </button>
            </a>
        </div>
    </div>
</div>

<script src="./js/genre.js"></script>