<div class="col-12 text-center">
    <h1 class="align-self-center">Pick a Genre</h1>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-6">
            <button id="food" data-genre="1" class="col-6 btn btn-primary btn-lg">
                Food
            </button>
            <button id="movies" data-genre="7" class="col-6 btn btn-primary btn-lg">
                Movies
            </button>
            <button id="sports" data-genre="2" class="col-6 btn btn-primary btn-lg">
                Sports
            </button>
            <button id="music" data-genre="8" class="col-6 btn btn-primary btn-lg">
                Music
            </button>
            <button id="history" data-genre="3" class="col-6 btn btn-primary btn-lg">
                History
            </button>
        </div>
    
        <div class="col-6">
            <button id="video-games" data-genre="4" class="col-6 btn btn-primary btn-lg">
                Video Games
            </button>
            <button id="memes" data-genre="9" class="col-6 btn btn-primary btn-lg">
                Memes
            </button>
            <button id="entertainment" data-genre="5" class="col-6 btn btn-primary btn-lg">
                Entertainment
            </button>
            <button id="superheroes" data-genre="10" class="col-6 btn btn-primary btn-lg">
                Superheroes
            </button>
            <button id="fantasy" data-genre="6" class="col-6 btn btn-primary btn-lg">
                Fantasy
            </button>
        </div>
    </div>
</div>

<script src="./js/genre.js"></script>