<h2>{{question}}</h2>


<ul id="items">
{{#each answers}}
    {{>answer-details}}
{{/each}}
</ul>

<button class="btn btn-primary" type="button">Submit</button>

<script src="/js/question.js"></script>