:root {
    --main-logo-color: #3900ff;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
#logo {
    background-image: url("../images/logo.png");
}

#pick, #room {
    font-family: Impact, fantasy;
    color: #000000;
}

.bg-5, .bg-6, .bg-8, .bg-3, .bg-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-1, .bg-10, .bg-7, #movies, .bg-9 {
    font-family: fantasy;
}

#home-background {
    background-color: #37ddfe;
    margin: 2px;
    border-color: #007bff;
    border: 5px solid #007bff;
}

#room {
    background-color: #37ddfe;
    margin: 2px;
    border-color: #007bff;
    border: 5px solid #007bff;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#memes {
    background-image: url('../images/memes-btn.png');
    background-size: cover;
    background-position: right center;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

#superheroes {
    background-image: url('../images/superhero-btn.png');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#food {
    background-image: url('../images/food-btn.png');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#books {
    background-image: url('../images/book-btn.png');
    background-size: cover;
    color: transparent;
    width: 300px;
}

#fantasy {
    background-image: url('../images/fantasy-btn.png');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#sports {
    background-image: url('../images/sports-btn.png');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#movies {
    background-image: url('../images/movies-btn.jpg');
    background-size: cover;
    color: transparent;
    background-position: center;
    width: 300px;
}

#history {
    background-image: url('../images/history-btn.png');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#video-games {
    background-image: url('../images/games-btn.png');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#music {
    background-image: url('../images/music-btn.jpg');
    background-size: cover;
    background-position: center;
    color: transparent;
    width: 300px;
}

#books {
    background-color: #cdbca4;
}

#history {
    background-color: #4f3811;
}

#video-games {
    background-color: #00c73c;
}

#genre-btns button {
    border-color: #000000;
}

#movies {
    background-color: rgb(81, 39, 81);
}

.bg-4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-5 {
    background-image: url('../images/book.png');
    background-size: cover;
    background-position: center right;
    border-radius: 0.25rem;
}

.bg-5 button {
    background: linear-gradient(to right, rgb(43, 43, 43), rgb(0, 0, 0));
    border-color: rgb(41, 41, 41);
    color: rgb(214, 214, 214)
}
.bg-5 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: #cdbca4;
      color: #000000;
      border: 1px solid #6b5f4b;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-6 {
    background-image: url('../images/fantasy.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-6 button {
    background-color: blue;
    border-color: lightblue;
    color: aliceblue;
}

.bg-6 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: #24cae4;
      color: #fff;
      border: 1px solid #007bff;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-10 {
    background-image: url('../images/superhero.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-1 h2, .bg-2 h2, .bg-3 h2, .bg-4 h2, .bg-5 h2, .bg-6 h2, .bg-7 h2, .bg-8 h2, .bg-9 h2, .bg-10 h2, .bg-11 h2 {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.bg-10 button {
    background-color: rgb(255, 204, 0);
    border-color: rgb(255, 234, 0);
    color: black
}
.bg-10 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(230, 3, 3);
      color: #f8f8f8;
      border: 1px solid #4f1211;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-1 {
    background-image: url('../images/food.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-1 button {
    background-color: rgb(255, 157, 83);
    border-color: rgb(255, 106, 0);
    color: black
}

.bg-1 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(230, 79, 3);
      color: #000000;
      border: 1px solid #6e1816;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-7 {
    background-image: url('../images/movies.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-7 button {
    background-color: rgb(50, 50, 50);
    border-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255)
}

.bg-7 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(255, 230, 0);
      color: #000000;
      border: 1px solid #000000;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-9 button {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255)
}

.bg-9 {
    background-image: url('../images/memes.png');
    background-size: 90px;
    border-radius: 0.25rem;
}

.bg-2 {
    background-image: url('../images/sports.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-2 button {
    background-color: rgb(245, 102, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0)
}
.bg-2 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(205, 109, 0);
      color: #ffffff;
      border: 1px solid rgb(49, 18, 0);
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-8 {
    background-image: url('../images/music.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-8 button {
    background-color: rgb(102, 0, 245);
    border-color: rgb(74, 0, 186);
    color: rgb(252, 1, 252)
}
.bg-8 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(53, 30, 76);
      color: rgb(6, 241, 245);
      border: 1px solid rgb(45, 45, 45);
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-3 {
    background-image: url('../images/history.png');
    background-size: cover;
    border-radius: 0.25rem;
}

.bg-3 button {
    background-color: rgb(126, 161, 124);
    border-color: rgb(92, 132, 90);
    color: rgb(255, 255, 255)
}

.bg-3 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: #335832;
      color: #ffffff;
      border: 1px solid #114f1c;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.bg-4 {
    background-image: url('../images/games.png');
    background-size: cover;
    background-position: center;
    border-radius: 0.25rem;
}

.bg-4 button {
    background: linear-gradient(to right, rgb(255, 183, 0), rgb(114, 83, 22));
    border-color: rgb(255, 183, 0);
    color: rgb(255, 232, 201)
}
.bg-4 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(65, 65, 65);
      color: rgb(255, 255, 255);
      border: 1px solid #303030;
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

#room-code, #room-code-title {
    color: white;
    font-size: x-large;
}

#room-code {
    color: white;
    font-size: large;
}

#enter-btn {
    width: 95px;
    height: 40px;
    position: relative;
    top: 30px;
    right: 7px;
    font-size: medium;
    background-color: #0008ff;
}

#enter-btn:hover {
    background-color: #262dff;
}

#room-code {
    background-color: #0008ff;
}

#multiplayer {
    width: 300px;
    height: 70px;
    font-size: xx-large;
    background-color: #007bff;
    border: rgb(0, 0, 118) 2px solid;
    margin-top: 10px;
}

#multiplayer:hover {
    background-color: #3c9aff;
    border: rgb(31, 31, 121) 2px solid;
}

#room-container {
    width: 300px;
    height: 70px;
    background-color: #007bff;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(0, 0, 118) 2px solid;
    margin-bottom: 10px;
}

#team-page {
    font-family:  Impact, fantasy;
}

#room-code-page {
    color: white;
    background-color: #007bff;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(0, 0, 118) 2px solid;
}

#team-page li {
    color: white;
    margin: 5px;
    background-color: #007bff;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(0, 0, 118) 2px solid;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

#list1, #list2 {
    background-color: #37ddfe;
    max-width: 300px;
    border-color: #007bff;
    border: 3px solid #007bff;
    margin: 10px;
}

.bg-11 {
    background-image: url('../images/multiplayer.png');
    background-size: cover;
    background-position: center;
    font-family:  Impact, fantasy;
    border-radius: 0.25rem;
}

.bg-11 button {
    background-color: rgb(158, 2, 2);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}
.bg-11 li{
padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgb(255, 204, 0);
      color: #000000;
      border: 1px solid rgb(255, 234, 0);
      border-radius: 0.25rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

#timer {
    color: red;
    background-color: #000b5f;
    padding: 5px;
    border-radius: 5px;
}

/* memes */
.memes {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(39, 39, 39, 0.5);
    display: block;
    background-color: white;
}
.memes div {
    height: 150px;
    width: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Customize bootstrap classes */
.navbar-brand {
    background: url('../images/logo.png');
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100px;
    margin: 10px 0;
}
.nav-link {
    font-size: 20px;
}

.btn-primary {
    background-color: var(--main-logo-color);
}
/* Customize bootstrap classes */

header {
    border-bottom: 1px solid #b9b8b8;
    margin-bottom: 25px;
}
.hide-display {
    display: none;
}
.card {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 175px);
    /* overflow: auto; */
    border: none;
}

.card .card-content {
    width: 600px;
    padding: 15px 25px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid #b9b8b8;
}

.card.questions .card-content{
    width: 100%;
}

.card.questions {
    padding: 25px 0;
    height: auto;
}

.card.questions button, .card.questions h2 {
    margin: 20px 0;
}

.card.questions h2 {
    font-size: 30px;
    padding: 20px;
}

.card.genre .card-content {
    width: 800px;
}

.card.room .card-content {
    width: 400px;
}

.card-content .form-group {
    margin: 5px 0;
}
/* score page */
.score-page .card {
    height: auto;
    width: 100%;
    margin: 15px 0;
}
.score-page .card-content {
    width: 100%;
    padding: 15px;
}
.score {
    font-size: 25px;
}
.score-page .memes {
    width: 300px;
    padding: 15px;
    box-shadow: none;
}
.score span{
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}
.replay-button a {
    width: 100%;
    display: inline-block;
}
.replay-button a .btn-block{
    width: 100%;
}

.question-ul li {
    font-size: 20px;
}

/* results  */
.result-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.answer-text, .total {
    min-width: 500px;
    background-color: #f0f0f0;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #181818;
    font-size: 18px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    border-radius: 5px;
}
.total {
    min-width: 75px;
    font-weight: bold;
    text-align: center;
}
.meme-container {
    min-width: 325px;
}

.answer-text:hover, .total:hover {
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px #000000e8;
}

.question-ul li:hover, #usernames li:hover {
    box-shadow: 0px 0px 25px 1px #000227e8;
    scale: 1.1;
}
/*Score page  */
.question-label-text {
    font-size: 20px;
    margin-bottom: 5px;
}
.question-text {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
#genre-btns button:hover { 
    box-shadow: 0px 0px 25px 1px #000227e8;
    scale: 1.1;
}
/* Media queries */
@media (max-width: 767px) {
    #genre-box, .card-content.room-box {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #genre-btns button {
        width: 170px;
        height: 20px;
    }
}

@media (max-width: 767px) {
    .card.room {
        height: 70px;
    }
}
